
/* Bottom Bar */

.ui-bottom-bar-button {
    border: none;
    outline: none;

    padding: 2px 0;
    background-color: transparent;
    color: rgb(111, 111, 116);

    text-align: center;
}

.ui-flex-1, .ui-bottom-bar-button {
    /* Hack flex box not work on some android devices like Xiaomi 2 */
    display: block;
    /* Avoid use margin under the flex box element */
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.ui-bottom-bar-button .ui-icon {
    display: block;
    background-color: transparent;

    color: rgb(111, 111, 116);
    font-size: 24px;
    text-align: center;
    padding: 2px 0;
}

.ui-bottom-bar-button .ui-label {
    display: block;
    font-size: 12px;
    line-height: 12px;
    padding: 2px 0;
}

.ui-bottom-bar-button.active {
    color:rgb(21, 125, 251);
}

.ui-bottom-bar-button.active .ui-icon {
    color:rgb(21, 125, 251);
}

/* /Bottom Bar */