app-drawer {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: auto;
    width: 240px;
    height: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

app-drawer[left] {
    left: 0;
}

app-drawer[right] {
    right: 0;
}
