/* Effects */

/* For Alert */

.effect-from-below .ui-alert {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(.5);
    transform: translate3d(-50%, -50%, 0)  scale(.5);
}

.effect-from-above .ui-alert {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.5);
    transform: translate3d(-50%, -50%, 0) scale(1.5);
}

.effect-from-bottom .ui-alert{
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.effect-from-top .ui-alert {
    -webkit-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0);
}

.effect-from-right .ui-alert {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.effect-from-left .ui-alert {
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0);
}

/* For ActionSheet */

.effect-from-bottom .ui-actionsheet {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

/* For Notify */
.effect-from-top .ui-notify {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.effect-drop-down .ui-notify {
    /* Set origin for drop down effect */
    -webkit-transform-origin: center top;
    transform-origin: center top;

    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
