.fade {
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.fade.expand {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.fade.contract {
    -webkit-transform: scale(.35);
    transform: scale(.35);
}

.fade.in {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.sliding {
    z-index: 20;
    -webkit-transition: -webkit-transform .3s;
    transition:         transform .3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-timing-function: cubic-bezier(.1, .5, .1, 1);
    transition-timing-function: cubic-bezier(.1, .5, .1, 1);
}

.sliding.left {
    z-index: 10;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.sliding.right {
    z-index: 30;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.sliding.sliding-in, .sliding.right:not([class*="sliding-in"]) {
    -webkit-animation-name: fadeOverlay;
    animation-name: fadeOverlay;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.sliding.right:not([class*="sliding-in"]) {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

@-webkit-keyframes fadeOverlay {
    from {
        -webkit-box-shadow: 0 0 10px transparent,-320px 0 0 transparent;
        box-shadow: 0 0 10px transparent,-320px 0 0 transparent
    }

    to {
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3),-320px 0 0 rgba(0,0,0,.1);
        box-shadow: 0 0 10px rgba(0,0,0,.3),-320px 0 0 rgba(0,0,0,.1)
    }
}